# Візуальна студія та компіляція
.vs/
bin/
obj/
*.user
*.suo
*.dbmdl

# Файли бази даних (щоб випадково не залити реальні дані користувачів)
database.csv
*.csv

# Інсталятори та архіви, які генеруються автоматично (їх місце в Releases)
deploy/
artefacts/
*.zip
*.exe